<!doctype html>
<html lang="en">
  <head>
    <title>Trang chủ</title>
    <!-- Required meta tags -->
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <base href="http://naples.asia">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
    
    
    <link rel="icon" href="/image/favicon1.ico" type="image/x-icon">
    <style>
      
      header{position:relative}a{text-decoration:none!important}.dropdown{position:static}header .header-top{position:relative;padding:15px 0}header .header-top .logo{font-size:35px;font-family:cursive;color:#00a8ff;margin-right:35px}header .header-top .text-left{position:relative}.navbar-light .navbar-nav .nav-link{color:#fff;font-weight:500}.navbar-light .navbar-nav .nav-link:hover{color:#f1c40f;transition:.4s}header .header-top .text-right{padding:20px}header .header-top .user-profile .user-header>span{display:inline-block;width:120px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;cursor:pointer;line-height:16px;margin-right:30px}header .header-top .user-profile{position:relative;height:35px}header .header-top .user-profile:hover .box{display:block}header .header-top .user-profile .box a{display:block;text-align:left;padding:10px}header .header-top .user-profile .box{position:absolute;float:left;width:200px;background:#efefed;z-index:99;top:35px;display:none}header .header-top .text-right .user-profile a{text-decoration:none;color:#00a8ff}header .header-top .phone{position:absolute;top:23px}header .header-top .phone .fa-phone{transform:rotate(90deg)}header .header-top .text-right .header-cart,header .header-top .text-right .user-profile{display:inline-block}header .header-top .text-right .header-cart{padding-right:40px;position:relative;color:#00a8ff;margin-left:20px}header .header-top .text-right .header-cart fas{font-size:23px}header .header-top .text-right .header-cart span{top:-1px;position:absolute;color:#000;font-weight:700;font-size:15px;border-radius:50%;background-color:#fbc531;padding:2px 8px;margin-left:5px}nav .dropdown a.nav-link{padding:15px 0}header .header-top .search{position:relative;margin-top:15px}header .header-top .search input{padding:6px 40px 6px 10px;width:100%;box-shadow:none}header .header-top .search button{position:absolute;right:0;margin-left:10px;border:none}header nav{background-color:rgba(43,127,208,.69)}header nav .tp-menu ul{width:100%}header nav .tp-menu ul li{width:16.6666666%}header nav .tp-menu ul li i{display:none}header nav .tp-menu ul li:hover .cp{display:block}header nav .tp-menu>ul>li>a{text-decoration:none;display:block;text-align:center}header nav .tp-menu ul li .dropdown{font-weight:500;color:#000;display:inline-block}header nav .tp-menu>ul>li .cp{display:none;position:absolute;width:100%;left:0;top:60px;padding:15px 15px 15px 5px;z-index:99}header nav .tp-menu>ul>li .cp ul{list-style:none;margin-right:0;margin-left:0;padding:5px}header nav .tp-menu>ul>li .cp ul li{display:inline}header nav .tp-menu>ul>li .cp ul li a{display:block;text-decoration:none}.dropdown-item:focus,.dropdown-item:hover{background-color:inherit}.wapper a i{width:40px;height:40px;display:inline-block;position:relative;z-index:99;transform:rotate(-135deg)}.wapper .carousel-item{background-position:center;height:740px}.wapper .carousel-control-next i{transform:rotate(45deg)}.wapper a i:after,.wapper a i:before{content:"";position:absolute;left:0;height:2px;width:100%;background-color:#212529}.wapper a i:after{transform:rotate(90deg);top:50%;left:50%}.carousel-indicators li{width:13px;height:13px;border-radius:50%}.trademark .row div{text-align:center;margin:15px 0;position:relative;overflow:hidden}.trademark{margin-bottom:30px}.trademark .top{padding:30px 0}.trademark .row div.col-lg-4:hover:after,.trademark .row div.col-lg-4:hover:before{top:0}.trademark .row div.col-lg-4 a:hover:after,.trademark .row div.col-lg-4 a:hover:before{left:0}.trademark .row div.col-lg-4:after,.trademark .row div.col-lg-4:before{height:200px;width:1px}.trademark .row div.col-lg-4 a:after,.trademark .row div.col-lg-4 a:before{height:1px;width:380px}.trademark .row div.col-lg-4 a:before{left:100%}.trademark .row div.col-lg-4 a:after{right:-100%;top:199px}.trademark .row div.col-lg-4:before{left:0;top:-100%}.trademark .row div.col-lg-4:after{right:0;top:100%}.trademark .row div.col-lg-4 a:after,.trademark .row div.col-lg-4 a:before,.trademark .row div.col-lg-4:after,.trademark .row div.col-lg-4:before{transition:all .4s;content:'';display:block;position:absolute;z-index:99;background:#009bcb}#content .row>.col-lg-12{margin-bottom:20px}#content .row>.col-lg-12>.btn-group{position:absolute;right:0;top:5px}#content .row>.col-lg-12 span{font-size:25px;font-weight:600;color:#333}#content .row>.item a{color:#e74c3c;padding:8px;font-weight:600}#content .row a:hover{color:inherit}#content .row .item{padding:0 0 25px;margin-top:10px;margin-bottom:20px}#content .row>.item:hover{transition:.5s;box-shadow:0 5px 25px rgba(0,0,0,.2)}#content .row .item .tittle{margin:20px 0;color:#000}#content .row .item a{display:block}#content .row .item .price{margin-bottom:15px}#content .row .item img{width:250px;height:250px;display:block;margin:0 auto}#content .row .item .price .final-price{color:#e74c3c;font-size:18px;font-weight:600}#content .row .item .price .sale{font-size:12px;font-weight:600;color:#e74c3c}#content .row .item .price del{color:#95a5a6;font-size:12px;margin:0 6px}footer{padding:50px;background:#f0f0f0}footer .contact a img{width:18px;height:18px}footer .contact .fb{padding:7px 5px 8px 9px;border:1px solid #007bff;border-radius:50%;margin-right:7px}footer .contact .googlePlus{padding:7px 4px 8px 8px;border:1px solid #dc4e41;border-radius:50%;margin-right:7px}footer .contact .googlePlus>img{width:20px;height:20px}footer .contact .twitter{padding:7px 9px 8px 10px;border:1px solid #1da1f2;border-radius:50%}footer .contact .phone{margin-bottom:20px}footer .contact .phone .fas{transform:rotate(90deg);font-size:25px;margin-right:10px}footer .contact a i{border-radius:50%;margin-left:10px}footer .contact a i.fa-facebook-f{padding:9px 13px;border:1px solid #007bff}footer .contact a i.fa-google-plus-g{color:#dc4e41;border:1px solid #dc4e41;padding:9px 7px}footer .contact a i.fa-twitter{color:#1da1f2;border:1px solid #1da1f2;padding:9px 10px}footer .contact a:hover i{transition:.8s;color:#fff}footer .contact a:hover i.fa-facebook-f{background:#007bff}footer .contact a:hover i.fa-google-plus-g{background:#dc4e41}footer .contact a:hover i.fa-twitter{background:#1da1f2}footer .center a,footer .left a{display:block;margin:10px 0}footer .col-lg-4 p{font-size:18px;font-weight:500;color:#000}#product .row{margin:100px 0}#product .modal-body .totalPrice{margin-top:20px}#product .modal-body .totalPrice>p{display:inline-block;font-weight:500}#product .modal-body .totalPrice>.totalPrice-tittle{width:60%;text-align:center}#product .modal-body .totalPrice>.totalPrice-info{width:13%;margin:0 15px;color:#e74c3c;font-size:18px}#product .modal-body .cart-content>a{display:inline-block;position:relative;width:60%}#product .modal-body .cart-content .price{display:inline-block;width:13%}#product .modal-body .cart-content>a>p{width:75%;top:0;left:25%;position:absolute;margin-top:36px}#product .qty-cart>span{font-size:14px}#info-product{margin:50px 0}#info-product .info-tittle{background-color:#bdc3c7}#info-product .info-right{padding:20px 15px}#info-product .info-right td{width:40%;font-size:14px}#info-product .info-tittle>p{line-height:41px;margin-bottom:0;font-size:20px;font-weight:500;padding:0 10px}#info-product table{width:100%}.qty-cart .btn-outline-secondary{border-color:#ced4da}.qty-cart .form-control.cart-update,.qty-cart .form-control.update{text-align:center}.qty-cart{width:120px;margin-right:10px;display:inline-block}#product .cart-content .form-group,#product .cart-content .img-cart{display:inline-block}.modal-dialog{max-width:50%}#product .cart-content>span{margin:0 15px}#product .modal-tittle{margin-top:30px;font-weight:500;font-size:17px}#product .modal-tittle>p{display:inline-block}#product .modal-tittle>.p1{width:60%;text-align:center}#product .modal-tittle>.p2{width:13%;padding-left:29px;margin-right:50px}#product .cart-content span.fa-trash-alt{font-size:20px;color:red;cursor:pointer}#product .final-price{color:#e74c3c;font-weight:600;font-size:23px;margin-bottom:10px}#product .price-product{margin-bottom:10px}#product .sale-price del{margin-right:10px}#product .sale-price span{padding:0 5px;background-color:#e67e22;color:#fff;position:relative}#product .sale-price span::before{content:'';width:0;height:0;border-right:6px solid #e67e22;border-bottom:5px solid transparent;border-top:5px solid transparent;position:absolute;right:100%;top:30%}#product .detail-product{font-family:Roboto,sans-serif;margin-bottom:10px}#product .detail-product>div{font-size:15px;font-weight:600;margin-bottom:5px}#product .detail-product>p{margin-bottom:0;font-size:15px}.cart-content .qty span.fa-trash-alt{color:red;cursor:pointer}.cart-empty{padding:200px 0;text-align:center}.shopping-header>.row{padding:30px 40px 0}.shopping-header .active,.shopping-header .disable{padding:10px;text-align:center}.singnin>.row>.col-xs-4{margin:0 auto}.shopping-header .active{color:#1d2124;border-bottom:3px solid #3498db}#checkout,#signin{padding:50px}#checkout button.cart-checkout{width:100%;margin-top:25px}#checkout .item{position:relative}#checkout .item .tittle{display:inline-block;width:300px}#checkout .item .price{display:inline-block;float:right}#checkout .err-msg,#checkout .form-group>div>p{color:red}#checkout .total-price span.total{font-size:17px;font-weight:600}#checkout .total-price span.price{float:right;color:red;font-weight:500}#checkout .title-header{margin-bottom:40px;font-weight:700;font-size:20px}#checkout .item .text-center{display:inline-block;position:absolute;top:0}.order{padding:50px 0}.order table{width:100%}td,th{border-bottom:1px solid #ddd;text-align:left;padding:8px;font-weight:500}.order .info-cart,.order h3{margin-bottom:50px}.da-xem{padding:0 15px 100px}.da-xem .row{position:relative}.da-xem .row nav#page{position:absolute;top:100%;margin-left:50%;left:-115px}.product-main-image:hover .img-zoom-lens{opacity:.4;visibility:visible}.img-zoom-lens{position:absolute;width:200px;height:200px;background-color:#fff;border:1px solid #000;opacity:0;visibility:hidden;z-index:99}.product-main-image:hover .img-zoom-result{z-index:999;visibility:visible}.img-zoom-result{width:600px;height:600px;position:absolute;left:450px;top:0;border:4px solid #888;visibility:hidden}.product-main-image .zoomcontainer{height:400px;position:absolute;visibility:hidden}.product-main-image .active1{visibility:visible}.product-other-image{display:inline-block;position:absolute;bottom:0}.product-image{position:relative;height:500px}#recommend .carousel-control-prev{left:30px;top:47%;height:60px;margin-top:-30px;width:initial}#recommend .carousel-control-next{right:30px;top:47%;height:60px;margin-top:-8px;width:40px}#recommend .carousel-control-next>i,#recommend .carousel-control-prev>i{width:40px;height:40px;display:inline-block;position:relative;z-index:99;transform:rotate(-135deg)}#recommend .all>i::after,#recommend .all>i::before{content:"";position:absolute;left:0;height:1px;width:60%;background-color:#212529}#recommend .carousel-item>.row{margin:0 22px}#recommend .carousel-item>.row .item a img{width:220px;height:220px;display:block;margin:0 auto}#recommend .all>i::after{transform:rotate(90deg);top:30%;left:30%}#recommend .carousel-control-next>i{transform:rotate(45deg)}.wapper .wapper1>h3,.wapper .wapper2>h3{position:absolute;top:20%;left:20%;color:#fff;opacity:0;animation:h3 1s forwards linear}@-webkit-keyframes h3{0%{opacity:0;transform:translateX(300px)}100%{opacity:1;transform:translateX(0)}}.wapper .wapper1>img{width:38%;height:34%;margin-left:10%;margin-top:23%;opacity:0;animation:img .5s 1s forwards linear}@-webkit-keyframes img{0%{opacity:0;transform:translateX(-200px)}100%{opacity:1;transform:translateX(0)}}.wapper .wapper1 .final-price{position:absolute;color:#e74c3c;font-weight:500;font-size:30px;top:41%;left:49%;opacity:0;animation:final-price .5s 2s forwards cubic-bezier(0,0,.04,.79)}@-webkit-keyframes final-price{0%{opacity:0;transform:translateX(150px)}100%{opacity:1;transform:translateX(0)}}.wapper .wapper1 .price{position:absolute;top:37%;left:49%;color:#fff;font-size:20px;opacity:0;animation:price .5s 1.5s forwards cubic-bezier(0,0,.04,.79)}@-webkit-keyframes price{0%{opacity:0;transform:translateX(150px)}100%{opacity:1;transform:translateX(0)}}.wapper .wapper1>a{top:70%;left:45%;position:absolute;color:#fff;font-weight:500;padding:6px 20px;border:1px solid #3498db;opacity:0;animation:ahref .7s 2.5s forwards linear}@-webkit-keyframes ahref{0%{opacity:0;transform:scale(0)}100%{opacity:1;transform:scale(1)}}.wapper .wapper1>a:hover{background-color:#3498db;transition:.5s}.wapper .wapper2 .pro-1{position:absolute;top:27%;width:100%;height:200px}.wapper .wapper2 .pro-1>img{position:absolute;width:23%;height:100%;left:21%;opacity:0;animation:img .5s 1s forwards linear}.wapper .wapper2 .pro-1>del,.wapper .wapper2 .pro-2>del{position:absolute;top:46%;left:48%;font-size:20px;color:#fff;opacity:0;animation:final-price .5s 1.5s forwards cubic-bezier(0,0,.04,.79)}.wapper .wapper2 .pro-1>span,.wapper .wapper2 .pro-2>span{position:absolute;top:43%;left:60%;font-weight:500;font-size:28px;color:#e74c3c;opacity:0;animation:final-price .5s 2s forwards cubic-bezier(0,0,.04,.79)}.wapper .wapper2 .pro-2{position:absolute;top:56%;width:100%;height:200px}.wapper .wapper2>a{position:absolute;top:80%;left:45%;color:#fff;padding:8px 20px;background-color:#3498db;opacity:0;animation:ahref .5s 4s forwards linear}.wapper .wapper2 .pro-2>img{position:absolute;width:24%;height:65%;left:21%;opacity:0;animation:img .5s 2.5s forwards linear}.wapper .wapper2 .pro-2>del{top:27%;animation:final-price .5s 3s forwards cubic-bezier(0,0,.04,.79)}.wapper .wapper2 .pro-2>span{top:24%;animation:final-price .5s 3.5s forwards cubic-bezier(0,0,.04,.79)}.cate-content .breadcrumb .form-control{width:inherit;margin-left:30px}.cate-content .breadcrumb>li{line-height:38px;font-weight:500;font-size:20px}@media (max-width:991px){header nav{background-color:inherit}header .header-top{margin-bottom:10px;padding:0}.dropdown-toggle::after{content:none}header .navbar{position:absolute!important;right:0;top:5px}.bg-light{background-color:none!important}header nav .tp-menu{position:absolute;width:715px;top:120%;right:15px;background-color:#3498db;max-height:335px;overflow-y:auto;z-index:99}header nav .tp-menu>ul>li>a{text-align:left;margin-left:40px}header .header-top .phone,header .header-top .text-right{display:none}header nav .tp-menu ul li{width:100%;position:relative}#product .modal-body .cart-content>a,#product .modal-tittle>.p1{width:50%}header nav .tp-menu ul li i{display:block;position:absolute;right:0;top:0;padding:11px 18px 11px 11px;font-size:18px}#product .cart-content span.fa-trash-alt,#product .modal-body .cart-content .price{font-size:13px}.dropdown-menu{display:none!important}.dropdown-menu.show{display:block!important}.navbar-nav .dropdown-menu{position:static!important;float:none}.wapper .wapper1>h3,.wapper .wapper2>h3{left:14%}.wapper .wapper1>img{margin-top:30%}.wapper .wapper1>a{top:65%}.wapper .wapper2 .pro-1>span,.wapper .wapper2 .pro-2>span{left:64%}#product .modal-dialog{left:-150px}#product .modal-tittle>.p2{margin-right:30px}#product .modal-body .cart-content .img-cart>img{width:80px;height:80px}#product .modal-body .cart-content>a>p{font-size:13px;margin-top:18px;left:35%}#product .modal-body .cart-content .qty-cart{width:80px}#product .modal-body .cart-content .qty-cart .input-group-append .btn,#product .modal-body .cart-content .qty-cart .input-group-prepend .btn{padding:2px 7px}#product .modal-body .cart-content .qty-cart .form-control{padding:0}}#deleteCart .modal-content{top:63px;margin:0 auto;height:170px;width:400px;background-color:#ecf0f1}#deleteCart .modal-header{padding-bottom:0;border-bottom:0}#deleteCart .modal-footer{display:initial;border-top:0}#deleteCart .conttent-deleteCart{margin:0 0 20px}#deleteCart .btn-delete{text-align:right}.checkout{margin:100px 0}.checkout .checkout-orther{display:inline-block;margin-top:20px;color:#e74c3c;padding:8px;border:1px solid #e74c3c}.checkout .checkout-orther:hover{background-color:#e74c3c;color:#fff;transition:.5s}.checkout .cart-content .img-cart{display:inline-block}.checkout .cart-content .cart-tittle{position:absolute;display:inline-block;top:24px;margin-left:12px}.checkout .cart-content .price,.checkout .cart-content .qty{margin-top:24px}.header-top .suggest{position:absolute;background-color:#fff;z-index:99;width:100%}.header-top .suggest>div{position:relative}.header-top .suggest a{display:inline-block;color:#212529;padding:10px}#product #myModal .modal-content{width:100%}#myModal .modal-content{width:60%;margin:0 auto}#myModal .modal-content .modal-footer{display:initial}#myModal .modal-content .modal-footer>p{float:left}#myModal .modal-content .modal-footer>button{float:right}@media (max-width:767px){header nav{background-color:inherit}nav{display:inline-block!important;width:94.5%}nav button{margin-right:20px;float:right}header nav .tp-menu{width:100%}.fas.fa-angle-left,.fas.fa-angle-right{font-size:30px}.carousel-indicators li{width:8px;height:8px}.wapper a i{width:20px;height:20px}.wapper a i:after,.wapper a i:before{height:1px}#content .row>.col-lg-12 span{font-size:20px}#content .row>.col-lg-12 a{margin-left:0;font-size:13px}.wapper .wapper1>h3,.wapper .wapper2>h3{font-size:21px;left:14%}.wapper .wapper1>img{height:20%;margin-top:47%}.wapper .wapper1 .price{font-size:17px}.wapper .wapper1 .final-price{font-size:27px}.wapper .wapper1>a{top:60%;left:38%}.wapper .carousel-item{height:500px}.wapper .wapper2 .pro-1>img{width:35%;left:11%}.wapper .wapper2 .pro-1>del,.wapper .wapper2 .pro-2>del{font-size:15px}.wapper .wapper2 .pro-1>span,.wapper .wapper2 .pro-2>span{font-size:23px;left:67%}.wapper .wapper2 .pro-2>img{width:34%;height:45%;left:12%;top:10%}.wapper .wapper2>a{left:36%;top:83%}}
    </style>
  </head>
  <body>
    <header>
      <div class="container">
        <div class="row header-top">
            <div class="col-lg-4 col-md-4 col-12 text-left">
              <a class="navbar-brand logo" href="#">Ahaha</a>
              <span class="phone">
                <img src="/image/phone-24.png" style="
                margin-bottom: 4px;
                width: 18px;
                height: 18px;
                ">
                01686791933
              </span>
            </div>
            <div class="col-lg-4 col-md-4 col-12 center">
              <form class="form-inline search" >
                  <input class="form-control search-input" type="text" placeholder="Search" aria-label="Search">
                  <button class="btn btn-outline-success" type="submit">
                    <img src="/image/icon-search.png" style="
                    width: 20px;
                    height: 20px;
                    ">
                  </button>
                </form>
                <div class="suggest">
                
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-12 text-right">
              <div class="user-profile">
                <% if(login) { %>
                  <div class="user-header">
                    <span>Chào <%= user %></span>
                    <div class="box">
                      <a href="">Thông tin</a>
                      <a href="/user/don-hang">Đơn hàng của bạn</a>
                      <a href="/user/da-xem">Sản phẩm bạn đã xem</a>
                      <a href="/user/logout">Đăng xuất</a>
                    </div>
                  </div>
                  
                <% }else{ %>
                  <a href="/user/signup">Đăng ký |</a>
                  <a href="/user/signin">Đăng nhập</a>
                <% } %>
                
              </div>
              <div class="header-cart">
                <a href="/checkout">
                  <img src="/image/cart-24.png" style="
                    width: 20px;
                    height: 20px;">
                  <% if(session.spCart) {%>
                    <span id="cartNumber"><%= session.totalQty %></span>
                  <% }else if(session.CartData1) {%>
                    <span id="cartNumber"><%= session.totalQtyUser %></span>
                  <% } else{ %>
                    <span id="cartNumber">0</span> 
                  <% } %>
                </a>
               
              </div>
            </div>
            
        </div>
        <nav class="navbar navbar-expand-lg navbar-light">
            
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse tp-menu" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                  <i class="fas fa-angle-down dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
                  <a class="nav-link" href="#">
                    Linh kiện máy tính
                  </a>
                  <div class="cp container dropdown-menu" id="drop" aria-labelledby="navbarDropdown">
                    <ul class="row">
                      <li class="col-lg-3 col-12 dropdown-item">
                        <a class="dropdown" href="">Mainboard - Bo mạch chủ</a>
                        <a class="item-filter" href="/main.html?thuonghieu=asus">Mainboard Asus</a>
                        <a class="item-filter" href="/main.html?thuonghieu=gigabyte">Mainboard Gigabyte</a>
                        <a class="item-filter" href="/main.html?thuonghieu=msi">Mainboard Msi</a>
                        <a class="item-filter" href="/main.html?thuonghieu=asrock">Mainboard Asrock</a>
                      </li>
                      <li class="col-lg-3 col-12 dropdown-item">
                        <a class="dropdown" href="">Cpu - Bộ vi xử lý</a>
                        <a class="item-filter" href="">CoffeeLake</a>
                        <a class="item-filter" href="">KabyLake</a>
                        <a class="item-filter" href="">Intel Core I3</a>
                        <a class="item-filter" href="">Intel Core I5</a>
                        <a class="item-filter" href="">Intel Core I7</a>
                        <a class="item-filter" href="">AMD - Ryzen</a>

                      </li>
                      <li class="col-lg-3 col-12 dropdown-item">
                        <a class="dropdown" href="">VGA - Card màn hình</a>
                        <a href="/vga.html?thuonghieu=asus">VGA - Asus</a>
                        <a href="/vga.html?thuonghieu=gigabyte">VGA - Gigabyte</a>
                        <a href="/vga.html?thuonghieu=msi">VGA - Msi</a>
                        <a href="/vga.html?thuonghieu=galax">VGA - Galax</a>
                        <a href="/vga.html?thuonghieu=palit">VGA - Palit</a>
                      </li>
                        
                      <li class="col-lg-3 col-12 dropdown-item">
                        <a class="dropdown" href="">PSU - Nguồn máy tính</a>
                        <a href="">PSU - Dưới 400w</a>
                        <a href="">PSU - 400w đến 500w</a>
                        <a href="">PSU - 500w đến 600w</a>
                        <a href="">PSU - 600w đến 700w</a>
                        <a href="">PSU - Trên 800w</a>
                      </li>
                      <li class="col-lg-3 col-12 dropdown-item">
                        <a class="dropdown" href="">Ram - Bộ nhớ trong</a>
                        <a href="/ram.html?thuonghieu=g-skill">Ram - Gskill</a>
                        <a href="/ram.html?thuonghieu=adata">Ram - Adata</a>
                        <a href="/ram.html?thuonghieu=kingmax">Ram - KingMax</a>
                        <a href="/ram.html?thuonghieu=kingston">Ram - KingTon</a>
                      </li>
                        
                      <li class="col-lg-3 col-12 dropdown-item">
                        <a class="dropdown" href="">Case - Vỏ máy tính</a>
                        <a href="/thung-may.html?thuonghieu=gigabyte">Case - Gigabyte</a>
                        <a href="/thung-may.html?thuonghieu=sama">Case - Sama</a>
                        <a href="/thung-may.html?thuonghieu=corsair">Case - Corsair</a>
                       
                        <a href="/thung-may.html?thuonghieu=aigo">Case - Aigo</a>
                        <a href="/thung-may.html?thuonghieu=cooler-master">Case - Cololer Master</a>
                      </li>
                      <li class="col-lg-3 col-12 dropdown-item">
                        <a class="dropdown" href="">Tản nhiệt</a>
                        <a href="">Tản nhiệt nước</a>
                        <a href="">Tản nhiệt khí</a>
                      </li>
                    </ul>
                  </div>
                </li>
                <li class="nav-item dropdown">
                  <i class="fas fa-angle-down dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
                  <a class="nav-link" href="#">Màn hình</a>
                  
                  <div class="cp container dropdown-menu" id="drop" aria-labelledby="navbarDropdown">
                    
                      <ul class="row">
                        <li class="col-lg-3 col-12 dropdown-item">
                          <a href="" class="dropdown">Thương hiệu màn hình</a>
                          <a href="/man-hinh.html?thuonghieu=asus">Màn hình Asus</a>
                          <a href="/man-hinh.html?thuonghieu=dell">Màn hình Dell</a>
                          <a href="/man-hinh.html?thuonghieu=lg">Màn hình LG</a>
                          <a href="/man-hinh.html?thuonghieu=samsung">Màn hình Samsung</a>
                          
                          <a href="/man-hinh.html?thuonghieu=acer">Màn hình Acer</a>
                          <a href="/man-hinh.html?thuonghieu=viewsonic">Màn hình Viewsonic</a>
                          
                          <a href="/man-hinh.html?thuonghieu=benq">Màn hình Benq</a>
                          <a href="/man-hinh.html?thuonghieu=hkc">Màn hình HKC</a>
                          <a href="/man-hinh.html?thuonghieu=aoc">Màn hình AOC</a>
                        </li>
                        <li class="col-lg-3 col-12 dropdown-item">
                          <a href="" class="dropdown">Độ phân giải</a>
                          <a href="">Full HD</a>
                          <a href="">2K</a>
                          <a href="">4K</a>
                        </li>
                        <li class="col-lg-3 col-12 dropdown-item">
                          <a href="" class="dropdown">Tần số quét</a>
                          <a href="">60hz</a>
                          <a href="">75hz</a>
                          <a href="">144hz</a>
                          <a href="">165hz</a>
                          <a href="">240hz</a>
                        </li>
                        <li class="col-lg-3 col-12 dropdown-item">
                          <a href="" class="dropdown">Kích thước</a>
                          <a href="">17" - 21"</a>
                          <a href="">22" - 24"</a>
                          <a href="">25" - 32"</a>
                        </li>
                      </ul>
                    
                  </div>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link" href="#">Bàn phím</a>
                  <i class="fas fa-angle-down dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
                  <div class="cp container dropdown-menu" id="drop" aria-labelledby="navbarDropdown">
                    
                      <ul class="row">
                        <li class="col-lg-6 col-12 dropdown-item">
                          <a href="" class="dropdown">Thương hiệu bàn phím</a>
                          <a href="/ban-phim.html?thuonghieu=logitech">Logitech</a>
                          <a href="/ban-phim.html?thuonghieu=fulhlen">Fuhlen</a>
                          <a href="/ban-phim.html?thuonghieu=dareu">Dareu</a>
                          <a href="/ban-phim.html?thuonghieu=corsair">Corsair</a>
                          <a href="/ban-phim.html?thuonghieu=razer">Razer</a>
                          <a href="/ban-phim.html?thuonghieu=ducky">Ducky</a>
                        </li>
                        <li class="col-lg-6 col-12 dropdown-item">
                          <a href="" class="dropdown">Mức giá</a>
                          <a href="">Dưới 500.000</a>
                          <a href="">500.000 - 1.000.000</a>
                          <a href="">1.000.000 - 2.000.000</a>
                          <a href="">1.000.000 - 2.000.000</a>
                          <a href="">Trên 3.000.000</a>
                        </li>
                      </ul>
                    
                  </div>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link" href="#">Ổ cứng</a>
                  <i class="fas fa-angle-down dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
                  <div class="cp container dropdown-menu" id="drop" aria-labelledby="navbarDropdown">
                    
                      <ul class="row">
                        <li class="col-lg-6 col-12 dropdown-item">
                          <a href="" class="dropdown">Ổ cứng HDD</a>
                          <a href="">Dưới 1TB</a>
                          <a href="">1TB - 2TB</a>
                          <a href="">3TB - 4TB</a>
                          
                          <a href="">Từ 6TB trở lên</a>
                        </li>
                        <li class="col-lg-6 col-12 dropdown-item">
                          <a href="" class="dropdown">Ổ cứng SSD</a>
                          <a href="">120GB - 128GB</a>
                          <a href="">240GB - 256GB</a>
                          <a href="">480GB - 512GB</a>
                          <a href="">1TB -2TB</a>
                        </li>
                      </ul>
                    
                  </div>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link" href="#">Chuột</a>
                  <i class="fas fa-angle-down dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
                  <div class="cp container dropdown-menu" id="drop" aria-labelledby="navbarDropdown">
                    
                      <ul class="row">
                        <li class="col-lg-6 col-12 dropdown-item">
                          <a href="" class="dropdown">Thương hiệu chuột</a>
                          <a href="/chuot.html?thuonghieu=logitech">Chuột Logitech</a>
                          <a href="/chuot.html?thuonghieu=fulhlen">Chuột Fuhlen</a>
                          
                          <a href="/chuot.html?thuonghieu=corsair">Chuột Corsair</a>
                          <a href="/chuot.html?thuonghieu=razer">Chuột Razer</a>
                          <a href="/chuot.html?thuonghieu=steelseries">Chuột SteelSeries</a>
                        </li>
                        <li class="col-lg-6 col-12 dropdown-item">
                          <a href="" class="dropdown">Mức giá</a>
                          <a href="">Dưới 500.000</a>
                          <a href="">500.000 - 1.000.000</a>
                          <a href="">1.000.000 - 2.000.000</a>
                          <a href="">1.000.000 - 2.000.000</a>
                          <a href="">Trên 3.000.000</a>
                        </li>
                        
                      </ul>
                    
                  </div>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link" href="#">Tai nghe</a>
                  <i class="fas fa-angle-down dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
                  <div class="cp container dropdown-menu" id="drop" aria-labelledby="navbarDropdown">
                    
                      <ul class="row">
                        <li class="col-lg-6 col-12 dropdown-item">
                          <a href="" class="dropdown">Thương hiệu tai nghe</a>
                          <a href="/tai-nghe.html?thuonghieu=razer">Tai nghe Razer</a>
                          <a href="/tai-nghe.html?thuonghieu=kingston">Tai nghe Kingston HyperX</a>
                          <a href="/tai-nghe.html?thuonghieu=ozone">Tai nghe Ozone</a>
                          <a href="/tai-nghe.html?thuonghieu=corsair">Tai nghe Corsair</a>
                          <a href="/tai-nghe.html?thuonghieu=logitech">Logitech</a>
                        </li>
                        <li class="col-lg-6 col-12 dropdown-item">
                          <a href="" class="dropdown">Mức giá</a>
                          <a href="">Dưới 500.000</a>
                          <a href="">500.000 - 1.000.000</a>
                          <a href="">1.000.000 - 2.000.000</a>
                          <a href="">1.000.000 - 2.000.000</a>
                          <a href="">Trên 3.000.000</a>
                        </li>
                      </ul>
                    
                  </div>
                </li>
              </ul>
              
            </div>
          </nav>
        </div>
    </header>
    
