<% include ../layouts/header.ejs %>
<% 
  
      function chuyentien(e) {
          let vitri = e.split('');
          let result = '';
          let index = Math.ceil((vitri.length)/3);
          if(index == 2) {
              let add = vitri.length - 3;
              vitri.splice(add, 0 , '.');
              vitri.forEach(e => {
                  result += e;
              });
              return result;
          }
          if(index == 3) {
              let add = vitri.length - 3;
              vitri.splice(add, 0 , '.');
              
              let add1= vitri.length - 7;
              vitri.splice(add1, 0 , '.');
              vitri.forEach(e => {
                  result += e;
              });
              return result;
              
          }
          if(index == 4) {
              let add = vitri.length - 3;
              vitri.splice(add, 0 , '.');
              
              let add1 = vitri.length - 7;
              vitri.splice(add1, 0 , '.');

              let add2 = vitri.length - 11;
              vitri.splice(add2, 0 , '.');
              vitri.forEach(e => {
                  result += e;
              });
              return result;
              
          }



      }

 %>
<div class="container order">
    <div class="row">
        <div class="col-lg-10 offset-lg-1">
            <h3>Đơn hàng của bạn</h3>
            <table>
                
                    <tr>
                        <th>Mã đơn hàng</th>
                        <th>Ngày mua</th>
                        
                        <th>Tổng tiền</th>
                        <th>Trạng thái</th>
                    </tr>
                
                
                    <% checkout.forEach(e => { %>
                    <tr>

                            <td>
                                <a href="/user/don-hang/<%= e.id %>">

                                    <%= e.id %>
                                </a>
                            </td>
                            <td><%= e.date %></td>
                            
                            <td><%= chuyentien(`${e.tong_tien}`) %></td>
                            <td>

                                <% if(e.state == 0) { %>
                                    Chờ xử lý
                                <% }else if(e.state == 1) { %>
                                    Đang giao hàng
                                <% }else{ %>
                                    Đã giao hàng
                                <% } %>
                            </td>
                            
                            
                        </tr>
                    <% }) %>
                
            </table>
        </div>
    </div>
</div>


<% include ../layouts/footer.ejs %>